<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="QueueName" value="ExampleQueue"/>
  </appSettings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>



  <connectionStrings>
    <!--   <add name="Connection" connectionString="Data Source=DESKTOP-GN9A066\FALLAS; Initial Catalog=JFALLAS; Integrated Security=True;"/> -->
   <add name="Connection" connectionString="Data Source=10.10.10.46; Initial Catalog=DonBest; User Id=sportbookdba; Password=lumalu;"/> 
  </connectionStrings>

</configuration>